<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alimmanurung.belajarrecyclerview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BelajarRecyclerView"
        android:usesCleartextTraffic="true">
        <activity android:name=".Ayat7Activity"></activity>
        <activity android:name=".Ayat6Activity" />
        <activity android:name=".Ayat5Activity" />
        <activity android:name=".Ayat4Activity" />
        <activity android:name=".Ayat3Activity" />
        <activity android:name=".Ayat2Activity" />
        <activity android:name=".GoogleSpeechActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>